*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*NAVABAR */
.navbar {
    display: flex;
    align-items: center;
    padding:8px 60px;
    background-color: #F5EFE6;
}

.logo{
    font-size:22px;
    font-weight:bold;
}
.navbar nav a{
    margin:0 12px;
    text-decoration: none;
    color:#333;
}

.login{
    background:none;
    border:none;
    margin-left:10px;
    cursor:pointer;
}

.singup{
    background-color: #C9A46A;
    color:white;
    border:none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor:pointer;
}

/*HERO*/
.hero{
    height:70vh;
    background:linear-gradient(0,0,0,0.35), rgba(0,0,0.35);
    align-items:center;
    justify-content: center;

}
.hero-box h1{
    font-size:48px;
    margin-bottom:15px;
    color:white;
}
.hero-box p{
    font-size:18px;
    margin-bottom:30px;
    color:#000000a8;
}
.hero-btns button{
    padding: 12px 22px;
    border: none;
    margin: 0 8px;
    cursor: pointer;
    color: #050000;
}
.primary{
    background-color: #d3840d;
    color:white;
}

.secondary{
    background-color: #fbfcf5;
    color:black;
}

/*POPULAR*/
.popular h2{
    font-size: 32px;
    margin-bottom: 40px;
    text-align: center;
    color:#000000;
}

.cards{
    display:flex;
    justify-content:center;
    gap: 120px;
}

.card{
    background-color: white;
    text-align: center;
    width:280px;
    padding:9px;
    border-radius:25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1)
}

.card img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius: 15px;
}

.img-box{
    height:150px;
    background-color: #E0D6C7;
    border-radius:8px;
    margin-bottom:15px;
}
.card button {
    margin-top: 10px;
    padding: 8px 14px;
    border:none;
    background-color: #C9A46A;
    color:white;
    cursor:pointer;
}
html, body{
    height:100%;
}
body{
    display:flex;
    flex-direction: column;

}
footer{
    margin-top: auto;
}

.footer{
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5),
    
    )
    linear-gradient(
        123deg,
        #6b4a2e,
        #3b2a1f
    );
    color:#eee;
    padding: 60px 80px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    border-top: 1px soild rgba(255,255,255,0.2);
    padding-top:40px;
}


/*parent*/
.parent{
    background-image: url("./img/playing piano.jpg");
    height:auto;
    min-height: 45vh;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

}
nav{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #C9A46A;
}
nav a, .dropbtn{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    padding:10px 15px;
    display: inline-block;
}
 
.dropdown{
    position: relative;
    display:inline-block;
}
.dropdown-content{
    display:none;
    position: absolute;
    background-color: #44362d;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
    z-index: 1000;
    top:100%;
    left:0;
}

.dropdown:hover .dropdown-content{
    display:block !important;
}
 
.dropdown-content a{
    color:#E0D6C7 !important;
    padding:12px 16px;
    display: block;
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.dropdown-content a:hover{
    background-color: #5d4d42;
    color:#fff !important;
}
.buttons{
    margin-left: auto;
}
.btn-outline{
    border:1px solid #FFF;
    border-radius:5px;
    margin-right: 10px;
}
.btn-gold{
    background-color: #c5a36b;
    border-radius: 5px;
    color:#000 !important;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}

.card{
    flex:0 0 calc(33.333% -20px);
    box-sizing: border-box;
    text-align: center;
}
@media (max-width: 768px) {
    .card{
        flex:0 o 100%;
    }
}
.h2{
    margin-top:58px;
}

.story-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:80px 10%;
    background-color: #f9f9f9;
    gap: 50px;
}

.story-text{
    flex: 1;
}

.story-text h3{
    color:#c5a073;
    margin-bottom: 20px;
}
 
.story-text p{
    font-size: 16px;
    line-height: 1.6;
    color:#666;
    Margin-bottom:30px;
}
.join-btn {
    display: inline-block;
    padding: 10px 25px;
    background-color: #fff;
    border: lpx solid #ccc;
    text-decoration: none;
    color:#333;
    transition:0.3s;
}
.join-btn:hover {
    background-color:#333;
    color:#fff;
}
.story-pic {
    flex: 1;
}

.story-pic img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 30px;
}

@media (max-width: 768px) {
    .story-area{
        flex-direction: column;
        text-align: center;
    }
    .story-pic {
        margin-top: 30px;
    }
}
.why-us-grid{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}
.choice-box{
    flex: 1;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #e9d6ad;
}
.login-box{
    background:white;
    padding:40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width:350px;
    text-align:center;
}

.login-header{
    background:#f1bb88;
    border-radius: 30px;
    display:flex;
    margin-bottom:30px;
}
.login-header button.active{
    background:#e9a77b;
    color:white;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display:block;
    font-size: 13px;
    color:#666;
    margin-bottom: 5px;
}
.input-group input{
    width:100%;
    border: none;
    border-bottom:1px solid #ddd;
    padding:8px 0;
    outline: none;
    transition:0.3s;
}

.input-group input:focus{
    border-bottom: 10x solid hsl(27, 73%, 75%);
}

.remember-me{
    display:flex;
    align-items:center;
    gap:8px;
    font-size:12px;
    color:#888;
    margin-bottom: 25px;
}
.login-btn{
    width:100%;
    padding: 12px;
    background-color:#e79f4d;
    border:none;
    border-radius: 25px;
    color:white;
    font-size: 16px;
    cursor: pointer;
    box-shadow:0 4px 10px rgba(142, 159, 183, 0.3);
}
.login-btn:hover {
    background-color: #7a8ba3;
}

body{
    font-family: Arial , sans-serif;
    display: flex;
}